div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: colorTransform;
    animation: colorTransform 2s infinite;
    position: relative;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: blue;}
}

@keyframes example {
    0% {background-color: red;}
    25% {background-color: yellow}
    50% {background-color: blue}
    100% {background-color: blueviolet}
}

@keyframes moveColor {
    0% {background-color: red; left: 0; top: 0;}
    25% {background-color: yellow; left: 150px; top: 0px;}
    50% {background-color: blue; left: 150; top: 150px;}
    75% {background-color: green; left: 0; top: 150px}
    100% {background-color: blueviolet; left: 0; top: 0;}
}

@keyframes colorTransform {
    0% {background-color: red; transform: translate(0,0) rotateX(0deg) scale(1)}
    25% {background-color: yellow; transform: rotate(90deg) scale(1.2);}
    50% {background-color: blue; transform: rotate(180deg) scale(1);}
    75% {background-color: green; transform: rotate(270deg) scale(1.2);}
    100% {background-color: blueviolet; transform: rotate(360deg) scale(1);}
}

@keyframes colorTransform {
    0% {transform: scale(1);}
    25% {transform: scale(1.1);}
    50% {transform: scale(1);}
    75% {transform: scale(1.2);}
    100% {transform:scale(1);}
}
